# Copy to .env.local for local development.
HSP_WORKER_SCHEDULE_SERVICE_LOG_LEVEL=DEBUG
HSP_WORKER_SCHEDULE_SERVICE_USE_MOCK_REPOSITORY=true
# Example: override local ports
# HSP_WORKER_SCHEDULE_SERVICE_HTTP_PORT=8080
# HSP_WORKER_SCHEDULE_SERVICE_GRPC_PORT=50051
